@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.mainDiv {
  width: 600px;
  height: 600px;
  background: rgb(70, 69, 69);
}
.textOne {
  color: white;
  font-size: 50px;
  position: absolute;
  margin-top: 10px;
  margin-left: 170px;
  font-family: Roboto;
}
.textTwo {
  width: 400px;
  color: white;
  font-size: 16px;
  position: absolute;
  margin-top: 110px;
  margin-left: 100px;
  text-align: center;
  font-family: Roboto;
}

.formName {
  width: 410px;
  height: 60px;
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid white;
  background-color: rgb(70, 69, 69);
  position: absolute;
  margin-top: 200px;
  margin-left: 80px;
  z-index: 99999;
  color: white;
  font-size: 20px;
  text-align: center;
}
.formName:focus {
  border: green 1px solid;
}
.formName:focus {
  outline: none;
}

.formEmail {
  width: 410px;
  height: 60px;
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid white;
  background-color: rgb(70, 69, 69);
  position: absolute;
  margin-top: 300px;
  margin-left: 80px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.formEmail:focus {
  border: green 1px solid;
}
.formEmail:focus {
  outline: none;
}
.formPhone {
  width: 410px;
  height: 60px;
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid white;
  background-color: rgb(70, 69, 69);
  position: absolute;
  margin-top: 400px;
  margin-left: 80px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.formPhone:focus {
  border: green 1px solid;
}
.formPhone:focus {
  outline: none;
}
.letPhone {
  width: 430px;
  height: 60px;
  border-radius: 25px;
  padding-left: 25px;
  border: 1px solid white;
  background-color: rgb(70, 69, 69);
  position: absolute;
  margin-top: 500px;
  margin-left: 80px;
  font-size: 28px;
  text-align: center;
  color: white;
  background-color: rgb(26, 175, 126);
}
