.form1 {
  border: 1px solid wheat;
  width: 400px;
  height: 230px;
  border-radius: 5px;
  background-color: rgb(11, 199, 142);
}
.pictureMail {
  width: 80px;
  height: 100px;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
}
.mailPng {
  width: 90%;
  height: 70%;
  position: relative;
  margin-top: 15px;
  margin-left: 5px;
}
h3 {
  font-size: 10px;
  margin-top: 20%;
  text-align: center;
  color: white;
}

.pictureForm {
  width: 180px;
  height: 150px;
  position: absolute;
  margin-top: 40px;
  margin-left: 190px;
  background-color: white;
  border-radius: 10px;
}
#nameId {
  width: 70%;
  height: 25px;
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 20px;
  opacity: 0.3;
  padding: 0px 25px 0px 0px;
}
#nameId:focus {
  border: 1px solid rgb(11, 199, 142);
}
#nameId:focus {
  outline: none;
  opacity: 1;
}

#passId {
  width: 70%;
  height: 25px;
  padding: 0px 25px 0px 0px;
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 10px;
  opacity: 0.4;
}
#passId:focus {
  border: 1px solid rgb(11, 199, 142);
}
#passId:focus {
  outline: none;
  opacity: 1;
}
#buttonId {
  width: 83%;
  height: 25px;
  border: 1px solid green;
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(11, 199, 142);
}
.imgName {
  position: absolute;
  margin-top: 21px;
  margin-left: 83%;
  opacity: 0.9;
}
.imgPass {
  position: absolute;
  margin-top: 60px;
  margin-left: 83%;
  opacity: 0.9;
}
