.divHead {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  background-color: rgb(68, 68, 68);
}
#name {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 25px;
  position: absolute;
  margin-top: 80px;
  margin-left: 90px;
}

.divName {
  width: 240px;
  height: 45px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 25px;
  background-color: rgb(66, 65, 65);
  position: absolute;
  margin-top: 250px;
  margin-left: 90px;
  padding-left: 70px;
}
.divName:focus {
  outline: none;
}
.divPass {
  width: 240px;
  height: 45px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 5px rgba(19, 17, 15, 0.5);
  border-radius: 25px;
  background-color: rgb(66, 65, 65);
  margin-top: 325px;
  margin-left: 90px;
  padding-left: 70px;
}
.divPass:focus {
  outline: none;
}
.divBut {
}
h5 {
  font-size: 15px;
  text-align: center;
  color: white;
}
.imgName {
  margin-top: 250px;
  margin-left: 90px;
  position: absolute;
  z-index: 99999;
}
.imgPhone {
  margin-top: 322px;
  margin-left: 90px;
  position: absolute;
  z-index: 99999;
}
.letPhone {
  width: 320px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  background: rgb(7, 131, 231);
  color: white;
  margin-top: 20px;
  margin-left: 90px;
  box-shadow: 1px 1px 1px rgba(19, 17, 15, 0.5);
}
